{
  "storage": {
    "type": "redis",
    "redis": {
      "host": "localhost",
      "port": 6379,
      "password": ""
    }
  },
  "networks": [
    {
      "name": "base",
      "rpc": "https://mainnet.base.org",
      "deploymentBlock": 31084679,
      "processEveryNumBlocks": 60,
      "keepExpiredOrders": true,
      "filterPolicy": {
        "defaultAction": "DROP",
        "handlers": {
          "0x0000000000000000000000000000000000000000": "ACCEPT"
        }
      }
    }
  ]
}
